*{
  padding: 10px;
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
}

#divBici{
  width: 50%;
  border-radius: 5px;
  margin-left: 10px;
  border: 5px solid rgba(255, 255, 255, .7);
  box-shadow: 1px 1px rgba(219, 219, 219, 0.7);

}

h1{
  text-align: center;

   box-shadow: 1px 1px rgba(219, 219, 219, 0.7);
}
