<h1 *ngIf='data'>Benvenuto {{data[0].nome}} {{data[0].cognome}}</h1>

<div>
  <br>
  <button type="button" *ngIf="!loading" class="btn btn-primary" (click)="getCurrentLocation()">Prenota Bici 1</button>
</div>

<div *ngIf="loading"  class="col-sm-2" id='divBici'>
  <p id='bici'>BICI </p>
  <button type="button" class="btn btn-secondary" id='rilascia' (click)="getCurrentLocationRilascio()">RILASCIA</button>
</div>

<!--<div *ngIf="loading">
  <p>IdUtente: {{data[0].IdUtente}}</p>
  <p>Latitudine: {{currLat}}</p>
  <p>Longitudine: {{currLng}}</p>
  <p>Data inizio: {{myDate}}</p>
  <p>Ora Inizio: {{myTime}}</p>
</div>-->


